<div class="container-fluid container-total">
    <div class="row container-row">
        <div class="col-md-1 container-left">
            <app-breadcrumb [ids]="ids" [phases]="phases"></app-breadcrumb>
        </div>
        <main class="col-md-11 container-right">
            <app-input-windows [type]="type1" id="el1" [next]="el2" [title]="title1" [subTitle]="subTitle1" [desc]="lorem" [isThereNext]=true></app-input-windows>
            
            <app-input-windows [type]="type2" id="el2" [next]="el3" [title]="title2" [subTitle]="subTitle2" [desc]="lorem" [isThereNext]=true></app-input-windows>
            
            <app-input-windows [type]="type3" id="el3" [next]="el4" [title]="title3" [subTitle]="subTitle3" [desc]="lorem" [isThereNext]=true></app-input-windows>
            
            <app-input-windows [type]="type4" id="el4" [next]="" [title]="title4" [subTitle]="subTitle4" [desc]="lorem" [isThereNext]=false></app-input-windows>
        </main>
    </div>
</div>

  