<!-- [ngStyle]="{'background': getUrl()}" -->
<div class="landingContainer">
  <button class="startBtn" id="startBtn" for="modal1" (click)="openDialog()">Login</button>
  <div class="titleContainer">
    <h1 class="landingTitle">{{title}}</h1>
    <br>
    <div class="arrow" (click)="scroll(target)"></div>
  </div>
  <section class="infoContainer">
    <div class="descContainer">
      <div class="singleDesc">
        <span>
          <fa-icon [icon]="faHome"></fa-icon>
          <h4>Information</h4>
          <p>Simply input your building's details</p>
        </span>
      </div>
      <div class="singleDesc">
        <span>
          <fa-icon [icon]="faCalculator"></fa-icon>
          <h4>Calculations</h4>
          <p>We'll do all the efficiency calculations</p>
        </span>
      </div>
      <div class="singleDesc">
        <span>
          <fa-icon [icon]="faLeaf"></fa-icon>
          <h4>Efficiency</h4>
          <p>Check out our suggestions for improving energy efficiency</p>
        </span>
      </div>
    </div>
  </section>
</div>
<div id="bottomPart">
  <section class="infoGrid" id="gridderino">
    <div>
      <img class=image-one>
    </div>
    <div>
      <p>This PathFinder application was designed with energy efficiency as the number one priority. The calculations we make based upon your
        inputs are inline with industry standards. The suggestions generate by our algorithm are state of the art and have the end user in mind. 
        Our suggestions are based on a number of key factors including location, era and many others.
      </p>
    </div>
    <div>
      <p>The default values we hold for all types of building are determined by many critical factors. Our systems are updated regularly to maintain
        a high level of accuracy in our results and suggestions.  </p>
    </div>
    <div>
      <img class="image-two">
    </div>
  </section>
  <div style="text-align:center;margin-bottom: 20px;">
    <a [routerLink]="['/mainpage']" routerLinkActive="router-link-active" class="linkStart"  #target>Start</a>
  </div>
</div>