<!-- [ngStyle]="{'background': getUrl()}" -->

<div class="landingContainer">
  <div class="titleContainer">
    <h1 class="landingTitle">{{title}}</h1>
    <button class="startBtn" id="startBtn" for="modal1">Get Started</button>
  </div>
  <footer class="infoContainer">
    <div class="descContainer">
      <div class="singleDesc">
        <span>
          <fa-icon [icon]="faLeaf"></fa-icon>
          <p>Informative text will be placed here.</p>
        </span>
      </div>
      <div class="singleDesc">
        <span>
          <fa-icon [icon]="faLeaf"></fa-icon>
          <p>Informative text will be placed here.</p>
        </span>
      </div>
      <div class="singleDesc">
        <span>
          <fa-icon [icon]="faLeaf"></fa-icon>
          <p>Informative text will be placed here.</p>
        </span>
      </div>
    </div>
  </footer>
</div>