<div *ngIf="properties.length>0">
  <mat-horizontal-stepper #stepper class="row">
    <mat-step [editable]="true" *ngFor="let property of properties">
      <form>
        <ng-template matStepLabel> {{property.title}} </ng-template>
        <div class="subTitle" *ngIf="property.subTitle"> {{ property.subTitle }} </div>
        <div *ngIf="property.desc">
          <p>
            {{ property.desc }}
          </p>
        </div>
        <div>
          <button *ngIf=" property.type =='ground' "  mat-raised-button (click)="openGroundDialog()">Add Ground</button>
          <button *ngIf=" property.type =='door' " mat-raised-button (click)="openDoorDialog()">Add a Door</button>
          <button *ngIf=" property.type =='bridge' " mat-raised-button (click)="openBridgeDialog()">Add a Bridge</button>
          <button *ngIf=" property.type =='window' " mat-raised-button (click)="openWindowDialog()">Add a Window</button>
        </div>

        <div class="margin-top-bit">
          <button *ngIf="property.isThereNext" mat-button>Next</button>
          <button *ngIf="!property.isItFirst" mat-button>Back</button>
          <button *ngIf="property.isItEnd" mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>