<div>
    <div>
        <div style="display: block">
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
        </div>
        <div *ngFor="let suggest of data.data ;let i = index">
            <button mat-button mat-raised-button color="primary" (click)="randomize(i)">Suggestion {{ i + 1 }}</button>
            <br/>
            <br/>
        </div>
    </div>
</div>