<button id="nav-icon" class="navbar-toggler-right" mat-button [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="apps"></mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button (click)="toHome()" mat-menu-item>Home</button>
  <button (click)="toOwn()" *ngIf="auth.isLoggedIn" mat-menu-item>Own</button>
  <button (click)="toCreate()" *ngIf="auth.isLoggedIn" mat-menu-item>Make a New</button>
  <!-- currently log in is not necessary but for the future development, in case
  leaving example -->
  <button *ngIf="!auth.isLoggedIn" mat-menu-item>Log In</button>
  <button (click)="logout()" *ngIf="auth.isLoggedIn" mat-menu-item>Log Out</button>
  <button (click)="toAdmin()" *ngIf="auth.isAdmin" mat-menu-item>Admin</button>
</mat-menu>