<mat-dialog-content [formGroup]="wallForm">
  
    <label mat-dialog-title class="input-form-title">Outer Wall</label>

    <br/>
    <mat-label id="uValue-label">Do you know the uValue?</mat-label>

    <mat-radio-group class="mat-radio-group" aria-labelledby="uValue-label" formControlName="uKnown" (change)="onChange($event)">
      <mat-radio-button class="mat-radio-btn" value="true">Yes</mat-radio-button>
      <mat-radio-button class="mat-radio-btn" value="false">No</mat-radio-button>
    </mat-radio-group>
  
    <br />
  
    <mat-form-field *ngIf="uKnown && interaction">
      <input matInput placeholder="uValue" formControlName="uValue" />
      <span matSuffix>W/m²K</span>
    </mat-form-field>
  
    <mat-form-field *ngIf="!uKnown && interaction">
      <mat-select placeholder="Material" formControlName="materials">
        <mat-option value="matA">Material A</mat-option>
        <mat-option value="matB">Material B</mat-option>
        <mat-option value="wood">wood</mat-option>
        <mat-option value="foo">foo</mat-option>
        <mat-option value="bar">bar</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field *ngIf="!uKnown && interaction">
      <input matInput placeholder="Area" formControlName="area" />
      <span matSuffix>m²</span>
    </mat-form-field>
  
    <br/>

    <label id="protected-label" class="" *ngIf="interaction">Is this outer wall listed/protected?</label>
    <mat-radio-group aria-labelledby="protected-label" class="mat-radio-group" *ngIf="interaction" formControlName="protected">
      <mat-radio-button class="mat-radio-btn" value="true">Yes</mat-radio-button>
      <mat-radio-button class="mat-radio-btn" value="false">No</mat-radio-button>
    </mat-radio-group>
    <br />
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button class="mat-raised-button mat-dialog-close" (click)="onCancel()">
      Close
    </button>
    <button class="mat-raised-button mat-primary" (click)="saveWall()" [disabled]="!wallForm.valid">
      Save
    </button>
  </mat-dialog-actions>
  