<h4>Time Period</h4>
<div class="value">{{dateValue}}</div>
<input (mouseup)="onUp()" (mousedown)="onDown()"(mousemove)="onMove($event)" type="range" min="1750" max="2010" step="10" value="1970">

<h4>Location</h4>
<img id="Image-Maps-Com-image-maps-2019-11-27-081109" src="../../assets/img/map/europeMap.png" width="505" height="445" orgWidth="505" orgHeight="445" usemap="#image-maps-2019-11-27-081109" alt="" />
<map name="image-maps-2019-11-27-081109" id="ImageMapsCom-image-maps-2019-11-27-081109">
<area  alt="" title="Scotland" href="#" shape="rect" coords="98,254,173,324" style="outline:none;" target="_self"     />
<area  alt="" title="Northern Ireland"  href="#"  shape="rect" coords="73,317,113,356" style="outline:none;" target="_self"     />
<area  alt="" title="Iceland"  href="#"  shape="rect" coords="4,49,106,132" style="outline:none;" target="_self"     />
<area  alt="" title="Finland"  href="#"  shape="rect" coords="376,25,484,238" style="outline:none;" target="_self"     />
<area shape="rect" coords="503,443,505,445" alt="Image Map" style="outline:none;" title="Image Map"  />
</map>


   