/* ::ng-deep is need to override Material bootstrap */

/* Making space between radio buttons */
::ng-deep .mat-radio-label-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

#yes-radio-1, #yes-radio-2{
   margin-left: 85px;
}

::ng-deep .mat-dialog-title {
  text-align: center;
}

::ng-deep .mat-dialog-actions {
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#saveButton {
  margin-left: 70px;
}

p {
  text-align: center;
}

#form-field {

  display: inherit;

}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-left: 5px;
}