
.chart-flex{
	width: 95%;
	min-height: 300px;
	margin: 0 auto;
	display: -webkit-flex; 
	display: flex; 
}
.chart-two, .chart-one {
	padding: 10px;
	background: #f3f3f5;
	-webkit-flex: 1;
	-ms-flex: 1; 
	flex: 1;
}

 .urgent1{
  color: #fc0505;
 }
 .urgent2{
  color: #fc6c05;
 }
 .urgent3{
  color: #3afc05;
 }

 .grey{
  color: #919191;
 }

 .percentage{
   font-size: 12px;
 }

 .view-button{
  font-size: 15px;
 }

 .search{
  margin-left:35px;
  margin-top: 10px;
}



 /* Mat Table */

 .mat-sort-header-container {
  align-items: center;
}

table {
  width: 95%;
  margin: 0 auto;

  margin-top: 10px;
  padding: 10px;
  border: 2px solid lightgrey;
}

th.mat-sort-header-sorted {
  color: black;
  text-align: center;
}

.space{
  width:10%;
}


.mat-row:hover {
  background-color: rgb(241, 239, 239);
}

.mat-column{
  background-color: rgb(241, 239, 239);
}

.mat-header-cell {
  background-color: lightgray
}
