<div class="sticky">
        <a href="#el1">
            <li id="el1-bc" class="round-circle margin-bit-all">
                <div class="bc">
                    <span>
                        Phase1
                    </span>
                </div>
            </li>
        </a>
        <a href="#el2">
            <li id="el2-bc" class="round-circle margin-bit-all">
                <div class="bc">
                    <span>
                        Phase2
                    </span>
                </div>
            </li>
        </a>
        <a href="#el3">
            <li id="el3-bc" class="round-circle margin-bit-all">
                <div class="bc">
                    <span>
                        Phase3
                    </span>
                </div>
            </li>
        </a>
</div>