@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import '../../assets/css/app.css';


.round-circle{
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

@media (min-width:770px){
    .sticky{
        position: fixed;
        z-index: 1000;
    }
    .bc{
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 1em;
        font-weight: 500;
        height: 100%;
        line-height: 2em;
        text-align: left;
        
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 50px;
        vertical-align: middle;
    }
    .gif1{
        width: 13em;
        margin-top: 1em;
        padding-top: 7em;
    }
}
@media (width:770px){
    .sticky{
        position: fixed;
        z-index: 1000;
    }
    .bc{
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 1em;
        font-weight: 500;
        height: 100%;
        line-height: 2em;
        text-align: left;
        
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 50px;
        vertical-align: middle;
    }
    .gif1{
        width: 13em;
        margin-top: 1em;
        padding-top: 7em;
    }
}

@media(max-width: 770px){
    .sticky{
        position: fixed;
        width:100%;
        display: inline-flex;
        top:0;
        z-index: 10;
        background-color:white;
        opacity: 1.0;
    }
    .bc{
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 0.7em;
        font-weight: 500;
        height: 100%;
        line-height: 2em;
        text-align: left;   
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }
    .gif1{
        display: none;
    }
}

li{
    display: block;
    text-decoration: none;
}

.property-id{
    color: grey;
}
.property-id:hover{
    color: black;
    cursor: pointer;
}

.active-bc{
    color: black;
}

.numbering{
    border: 0.2em solid grey;
    border-radius: 50%;
    color: white;
    background-color: gray;
}
.active{
    border: 0.2em solid blueviolet;
    border-radius: 50%;
    background-color: blueviolet;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.img1{
    z-index: -1;
    width:300px;
    height: 300px;
    position: absolute;
    opacity: 1;
    transition: 0.5, ease;
}
.img2{
    z-index: 2;
    width:300px;
    height: 300px;
    position: absolute;
    clip-path: inset(275px 20px 0px 40px);
    opacity: 1;
}

.effect{
    opacity: 0.5;
    transition: .5s ease;
}