<div *ngIf="!auth.getResult()">
  <div *ngIf="ids.length > 0" class="sticky bg-box">
    <div class="" *ngFor="let property of properties">
      <div
        class="property-id"
        id="{{ property.id }}-class"
        (click)="scrollTo(property.id)"
      >
        <li id="" class="margin-bit-all">
          <div class="bc">
            <span id="{{ property.phase }}" class="badge badge-secondary">{{
              property.numbering
            }}</span>
            {{ property.phaseToUpperCase }}
          </div>
        </li>
      </div>
    </div>
    <div *ngIf="liveResult" class="liveResult">
      Efficiency Rating:
      <span
      class="liveResultSpan"
        [ngStyle]="{
          color:
            liveResult == 'A' ? 'green' : liveResult == 'B' ? 'orange' : liveResult == 'C' ? 'orange' : 'red'
        }"
        >{{ liveResult }}
      </span>
    </div>
    <div>
      <img id="gif-img" src="{{ imgSrc }}" class="gif1" />
    </div>
  </div>
</div>

<!-- // *ngIf="property.phase != 'results'" -->
