<div *ngIf="ids.length > 0" class="sticky">
    <div class="" *ngFor="let property of properties">
        <div class="property-id" id="{{property.id}}-class" (click)="scrollTo(property.id)">
            <li id="" class="margin-bit-all">
                <div class="bc">
                    <span id="{{property.phase}}" class="badge badge-secondary">{{ property.numbering }}</span>
                    {{ property.phaseToUpperCase }}
                </div>
            </li>
        </div>
    </div>
    <div>
        <img id="gif-img" src="{{ imgSrc }}" class="gif1">
        <!-- <img id="base-img" src="../../assets/img/house-infographic.jpg" class="img1"> -->
        <!-- <img id="effect-img" src="../../assets/img/house-infographic.jpg" class="img2"> -->
    </div>
</div>