<mat-dialog-content [formGroup]="propertyForm">
    <mat-form-field>
      <input
        mat-dialog-title
        matInput
        placeholder="Property Name"
        formControlName="name"
      />
    </mat-form-field>
  
    <br/>
    
    <mat-form-field>
      <mat-select placeholder="Country" formControlName="country">
        <mat-option value="fin">Finland</mat-option>
        <mat-option value="isl">Iceland</mat-option>
        <mat-option value="irl">Ireland</mat-option>
        <mat-option value="nir">Northern Ireland</mat-option>
        <mat-option value="sct">Scotland</mat-option>
        <mat-option value="swe">Sweden</mat-option>
      </mat-select>
    </mat-form-field>
    
    <br/>
    
    <mat-form-field>
      <mat-select placeholder="era" formControlName="era">
        <mat-option value="1900">1900's</mat-option>
        <mat-option value="1910">1910's</mat-option>
        <mat-option value="1920">1920's</mat-option>
        <mat-option value="1930">1930's</mat-option>
        <mat-option value="1940">1940's</mat-option>
        <mat-option value="1950">1950's</mat-option>
        <mat-option value="1960">1960's</mat-option>
        <mat-option value="1970">1970's</mat-option>
        <mat-option value="1980">1980's</mat-option>
        <mat-option value="1990">1990's</mat-option>
      </mat-select>
    </mat-form-field>
  
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button class="mat-raised-button mat-dialog-close" (click)="onCancel()">
      Close
    </button>
    <button class="mat-raised-button mat-primary" (click)="saveProperty()" [disabled]="!propertyForm.valid">
      Save
    </button>
  </mat-dialog-actions>
  