<section *ngFor="let property of properties; let i = index; let l = count" class="one-page" id="{{ property.id }}">
    <div class="border">
        <div *ngIf="property.title" class="margin-left-bit margin-top-bit title">
            {{ property.title }}
        </div>
        <div class="margin-top-bit margin-bottom-bit">
            <div class="container">
                <div *ngIf="property.sub" class="subTitle">
                    {{ property.sub }}
                </div>
                <div *ngIf="property.desc">
                    <p>
                        {{ property.desc }}
                    </p>
                </div>
                <div>
                    <button *ngIf=" property.type =='ground' "  mat-raised-button (click)="openGroundDialog()">Add Ground</button>
                    <button *ngIf=" property.type =='door' " mat-raised-button (click)="openDoorDialog()">Add a Door</button>
                    <button *ngIf=" property.type =='bridge' " mat-raised-button (click)="openBridgeDialog()">Add a Bridge</button>
                    <button *ngIf=" property.type =='window' " mat-raised-button (click)="openWindowDialog()">Add a Window</button>
                    <button *ngIf=" property.type =='outerwall' " mat-raised-button (click)="openWallDialog()">Add a Outer Wall</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="i != (l-1)" class="arrow" (click)="scrollToOther(i)"></div>
</section>

