<section class="one-page" *ngIf="id">
    <div class="border">
        <div *ngIf="title" class="margin-left-bit margin-top-bit title">
            {{title}}
        </div>
        <div class="margin-top-bit margin-bottom-bit">
            <div class="container">
                <div *ngIf="subTitle" class="subTitle">
                    {{subTitle}}
                </div>
                <div *ngIf="desc">
                    <p>
                        {{desc}}
                    </p>
                </div>
                <div *ngIf="inputForms">
                    <div *ngFor="let inputForm of inputForms">
                        <app-input-form></app-input-form>
                    </div>
                    <!-- <app-option-app [value1]="options.value1" [value2]="options.value2" [value3]="options.value3" [type1]="options.typeA" [type2]="options.typeB" [type3]="options.typeC"></app-option-app> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="isThereNext" class="arrow2" (click)="scrollToOther()">&#8595;&#8659;&#11167;&#11117;&#11123;&#11143;&#11163;&#11182;&#8681;&#11015;</div> -->
    <div *ngIf="isThereNext" class="arrow" (click)="scrollToOther()"></div>
    <!-- <div *ngIf="isThereNext" class="triangle" (click)="scrollToOther()"></div> -->
</section>

